@(trabalhoForm: play.data.Form[validators.TrabalhoFormData], idiomas:Map[String,Boolean])

@import helper._
@import templates.bootstrap._

@views.html.admin.main(Messages("app.title") + " | Cadastro de Trabalho Acadêmico") {
<div class="content-wrapper">
    <div class="container-fluid">
        @views.html.admin.header("Trabalhos")
        <section class="content">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Cadastro</h3>
                </div>
                <div class="box-body">
                    @form(routes.TrabalhoController.inserir(), 'enctype -> "multipart/form-data", 'class -> "form-horizontal", 'id -> "trabalhoForm") {

                        @*INICIO - Campos informacoes*@
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="panel panel-default">
                                    <div class="panel-body">

                                        @if(trabalhoForm.hasGlobalErrors) {
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label"></label>
                                            <div class="col-sm-10">
                                                <p class="alert alert-danger text-center">@trabalhoForm.globalError.message</p>
                                            </div>
                                        </div>
                                        }

                                        @*titulo*@
                                        @texto(trabalhoForm("titulo"),
                                        label = "Título:",
                                        placeholder = "Insira o título")

                                        @*resumo*@
                                        @textoarea(trabalhoForm("resumo"),
                                        label = "Resumo:",
                                        placeholder = "Insira o resumo",
                                        caracteres = "600")

                                        @*idioma*@
                                        @selecao(trabalhoForm("idioma"),
                                        label = "Idioma:",
                                        optionMap = idiomas,
                                        isMultiple = false)

                                        @*autores*@
                                        @texto(trabalhoForm("autores"),
                                        label = "Autor ou Autores:",
                                        placeholder = "Insira o autor")

                                        @*palavras chave*@
                                        @texto(trabalhoForm("palavraChave"),
                                        label = "Palavras Chave:",
                                        placeholder = "Insira a palavra chave")
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*FIM - Campos informacoes*@

                        @*INICIO - Campos arquivo*@
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="panel panel-default">
                                    <div class="panel-heading clearfix">
                                        <i class="icon-calendar"></i>
                                        <h3 class="panel-title">Origem/Arquivo</h3>
                                    </div>

                                    <div class="panel-body">
                                        @*url*@
                                        @textourl(trabalhoForm("url"),
                                        label = "URL:",
                                        placeholder = "Insira um endereço válido - http://articles.com/file")

                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-12">
                                                <p>ou selecione um arquivo:</p>
                                            </div>
                                        </div>

                                        @*arquivo pdf*@
                                        @arquivopdfvalido(trabalhoForm("arquivo"),
                                        label = "Arquivo:")

                                    </div>
                                </div>
                            </div>
                        </div>
                        @*FIM - Campos arquivo*@

                        @*botoes*@
                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-2">
                                <button data-loading-text="Loading..." id="btnSalvar" type="submit" class="btn btn-success pull-right" autocomplete="off">Salvar</button>
                                <a class="btn btn-default" type="button" href="@routes.TrabalhoController.telaLista()">Cancelar</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
    </div>
</div>
}

<script type="text/javascript">
    window.onload = function() {

        var form = document.getElementById("trabalhoForm");
        form.elements[0].focus();

        document.getElementById('arquivo').disabled = true;

        $('#btnSalvar').on('click', function () {
            var $btn = $(this).button('loading');
        });

        $('#radio-url').on('click', function () {
            document.getElementById('arquivo').disabled = true;
            document.getElementById('url').disabled = false;
            document.getElementById('url').placeholder='Insira um endereço válido - http://articles.com/file';
            document.getElementById('radio-arquivo').checked = false;
        });

        $('#radio-arquivo').on('click', function () {
            document.getElementById('url').placeholder='';
            document.getElementById('url').value='';
            document.getElementById('url').disabled = true;
            document.getElementById('arquivo').disabled = false;
            document.getElementById('radio-url').checked = false;
        });

    };
</script>