@(trabalhoForm: play.data.Form[validators.TrabalhoFormData],
    trabalho: Trabalho,
    temArquivo: Boolean)

@usuario() = @{
    Http.Context.current().args.get("usuario").asInstanceOf[Usuario]
}

@import helper._
@import templates.bootstrap._

@views.html.admin.main(Messages("app.title")) {
<div class="content-wrapper">
    <div class="container-fluid">
        @views.html.admin.header("Trabalhos Científicos", "glyphicon glyphicon-education")
        <section class="content">
            <div class="col-md-8 col-md-offset-2">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Detalhe</h3>
                        <div class="box-tools">
                            <div class="btn-group">
                                <a data-toggle="modal" href="#modalInfo" class="btn btn-default btn-xs" type="button"><span class="fa fa-info-circle"></span></a>
                                <button class="btn btn-primary btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Opções <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="@routes.TrabalhoController.telaEditar(trabalho.getId)">Editar</a></li>
                                    @if(temArquivo) {
                                    <li role="separator" class="divider"></li>
                                    <li><a data-toggle="modal" href="#modalPdf">Atualizar PDF</a></li>
                                    }
                                    @if(usuario.isAdmin) {
                                    <li role="separator" class="divider"></li>
                                    <li><a data-toggle="modal" href="#modalRemover">Excluir</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">

                        @if(trabalhoForm.hasGlobalErrors) {
                            <div class="alert alert-danger">
                                <p><strong><i class="icon fa fa-ban"></i> Ocorreu um erro</strong> - @trabalhoForm.globalError.message</p>
                            </div>
                        }

                        <strong><i class="fa fa-book margin-r-5"></i> Título</strong>
                        <p class="text-muted">
                            @trabalho.getTitulo
                        </p>
                        <hr>
                        <strong><i class="fa fa-file-text-o margin-r-5"></i> Resumo</strong>
                        <p class="text-muted">
                            @trabalho.getResumo
                        </p>
                        <hr>
                        <strong><i class="fa fa-language margin-r-5"></i> Idioma</strong>
                        <p class="text-muted">
                            @trabalho.getIdioma.getNome
                        </p>
                        <hr>
                        <strong><i class="fa fa-users margin-r-5"></i> Autor/Autores</strong>
                        <p class="text-muted">
                            @trabalho.getAutores
                        </p>
                        @if(trabalho.getPalavraChave != null) {
                            <hr>
                            <strong><i class="fa fa-key margin-r-5"></i> Palavras chave</strong>
                            <p class="text-muted">
                                @trabalho.getPalavraChave
                            </p>
                        }
                        @if(trabalho.getNomeArquivo != null && trabalho.getNomeArquivo != "arquivo.pdf" && trabalho.getNomeArquivo != "") {
                            <hr>
                            <strong><i class="fa fa-file margin-r-5"></i> Arquivo</strong>
                            <p class="text-muted">
                                @trabalho.getNomeArquivo -> <a target="_blank" href="@routes.TrabalhoController.pdfAdmin(trabalho.getNomeArquivo)">Visualizar</a>
                            </p>
                        }
                        @if(trabalho.getUrl != null && trabalho.getUrl != "") {
                            <hr>
                            <strong><i class="fa fa-external-link margin-r-5"></i> Endereço externo/fonte (URL)</strong>
                            <p class="text-muted">
                                @trabalho.getUrl -> <a target="_blank" href="@trabalho.getUrl">Visualizar</a>
                            </p>
                        }

                        <hr>
                        <strong><i class="fa fa-download margin-r-5"></i> Número de acessos</strong>
                        <p class="text-muted">
                            @trabalho.getNumeroAcesso
                        </p>
                        <hr>
                        <strong><i class="fa fa-calendar margin-r-5"></i> Data/Hora de cadastro</strong>
                        <p class="text-muted">
                            @trabalho.getDataCadastro.format("dd/MM/yyyy")
                        </p>
                        @if(trabalho.getDataAlteracao != null){
                            <hr>
                            <strong><i class="fa fa-refresh margin-r-5"></i> Data/Hora de alteração</strong>
                            <p class="text-muted">
                                @trabalho.getDataAlteracao.format("dd/MM/yyyy")
                            </p>
                        }

                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

}

<div id="modalRemover" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@Messages("app.title")</h4>
            </div>
            <div class="modal-body">
                <p class="text-center">Deseja remover o trabalho acadêmico <b>"@trabalho.getTitulo"</b>?</p>
            </div>
            <div class="modal-footer">
                @form(routes.TrabalhoController.remover(trabalho.getId)) {
                    <input id="btnRemover" type="submit" value="Remover" class="btn btn-danger">
                }
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div id="modalPdf" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabelPDF">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@Messages("app.title")</h4>
            </div>
            @form(routes.TrabalhoController.editarPdf(trabalho.getId), 'enctype -> "multipart/form-data") {
                <div class="modal-body">
                    @arquivopdf(trabalhoForm("arquivo"), label = "Arquivo")
                </div>
                <br >
                <div class="modal-footer">
                    <input id="btnJpg" type="submit" value="Atualizar" class="btn btn-primary">
                </div>
            }
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div id="modalInfo" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabelInfo">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@Messages("app.title")</h4>
            </div>
            <div class="modal-body">
                <h4>Informações: </h4>
                <p>Caso o trabalho acadêmico tenha um PDF salvo, é possível atualizar o arquivo selecionando "<b>Opções</b>"</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>