@****************************************
* lista de trabalhos    *
****************************************@

@import views.html.helper.form
@import templates.bootstrap._
@(currentPage: com.avaje.ebean.PagedList[Trabalho],
    currentSortBy: String,
    currentOrder: String,
    currentFilter: String,
    currentAutor: String,
    listForm: DynamicForm)

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{

    var sortBy = currentSortBy
    var order = currentOrder

    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }

    // Generate the link
    routes.TrabalhoController.telaLista(newPage, sortBy, order, currentFilter, currentAutor)

}

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String, largura:String) = {
    <th style="@largura" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" class="@key.replace(".","_") sorting @if(currentSortBy == key) @{if(currentOrder == "asc") "sorting_asc headercor" else "sorting_desc headercor"}">
        <a href="@link(0, key)">@title</a>
    </th>
}

@views.html.admin.main(Messages("app.title")) {
<div class="content-wrapper">
    <div class="container-fluid">
        @views.html.admin.header("Trabalhos Científicos")
        @*INICIO - conteudo*@
        <section class="content">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Lista</h3>
                    <div class="box-tools">
                        <a type="button" id="btn_novo" href="@routes.TrabalhoController.telaNovo()" class="btn btn-success"><span class="fa fa-plus"></span> Cadastrar</a>
                    </div>
                </div>
                <div class="box-body">
                    @views.html.admin.notificacoes()
                    <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            @form(link(0, "titulo"), 'id -> "filtroForm") {
                                <div class="col-sm-6">
                                    <div class="input-group input-group">
                                        <input type="search" class="form-control" id="searchbox" name="f" value="@currentFilter" placeholder="Filtrar por título..." maxlength="30">
                                        <div class="input-group-btn">
                                            <button type="submit" class="btn btn-primary" id="searchsubmit"><i class="fa fa-search"></i></button>
                                            <a type="button" class="btn btn-default" href="@routes.TrabalhoController.telaLista()"><i class="fa fa-refresh"></i> Limpar</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div id="example1_filter" class="dataTables_filter">
                                        @caixaSelecao(listForm("autor"), nome = "Filtrar por Autor")
                                    </div>
                                </div>
                            }
                        </div>
                        @*Lista das informacoes*@
                        @if(currentPage.getTotalRowCount == 0) {
                            <div class="row">
                                <div class="col-sm-12">
                                    <br>
                                    <div class="well well-sm">
                                        <em>Nenhuma informação encontrada com o valor <strong>"@currentFilter"</strong></em>
                                    </div>
                                </div>
                            </div>
                        } else {
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="example1" class="table table-hover table-bordered table-striped dataTable table-responsive" role="grid" aria-describedby="example1_info">
                                        <thead>
                                            <tr role="row">
                                                @header("titulo", "Título", "max-width: 361px")
                                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="max-width: 280px;">Resumo</th>
                                                @header("idioma", "Idioma", "width: 80px")
                                                @header("autores", "Autor/Autores", "width: 180px")
                                                @header("numeroAcesso", "Acessos", "width: 65px")
                                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 85px;">Fonte</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for(trabalho <- currentPage.getList) {
                                                <tr role="row" class="odd">
                                                    <td><a href="@routes.TrabalhoController.telaDetalhe(trabalho.getId)">@trabalho.getTitulo</a></td>
                                                    <td>@trabalho.getResumo</td>
                                                    <td>@trabalho.getIdioma.getNome</td>
                                                    <td>@trabalho.getAutores</td>
                                                    <td>@trabalho.getNumeroAcesso</td>
                                                    @if(trabalho.getUrl == null || trabalho.getUrl.isEmpty || trabalho.getUrl.equals("https://cibiogas.org")) {
                                                        <td><a data-placement="left" data-toggle="tooltip" title="Acessar" class="btn btn-default btn-xs" type="button" target="_blank" href="@routes.TrabalhoController.pdfAdmin(trabalho.getNomeArquivo)">Arquivo local <i class="fa fa-external-link" aria-hidden="true"></i></a></td>
                                                    } else {
                                                        <td><a data-placement="left" data-toggle="tooltip" title="Acessar" class="btn btn-success btn-xs" type="button" target="_blank" href="@trabalho.getUrl">Fonte externa <i class="fa fa-external-link" aria-hidden="true"></i></a></td>
                                                    }
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        @*INICIO - Linha da paginacao*@
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">
                                    Visualizando @currentPage.getDisplayXtoYofZ(" até ", " total ")</div>
                            </div>
                            <div class="col-sm-6">
                                <div class="dataTables_paginate paging_simple_numbers pull-right">
                                    <ul class="pagination">
                                        @if(currentPage.hasPrev) {
                                        <li class="paginate_button previous">
                                            <a href="@link(currentPage.getPageIndex - 1, null)">Anterior</a>
                                        </li>
                                        } else {
                                        <li class="paginate_button previous disabled">
                                            <a>Anterior</a>
                                        </li>
                                        }
                                        @if(currentPage.hasNext) {
                                        <li class="paginate_button next">
                                            <a href="@link(currentPage.getPageIndex + 1, null)">Próximo</a>
                                        </li>
                                        } else {
                                        <li class="paginate_button next disabled">
                                            <a>Próximo</a>
                                        </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                        @*FIM - Linha da paginacao*@
                        }
                    </div>
                </div>
            </div>
        </section>
        @*FIM - conteudo*@
    </div>
</div>
}

<script type="text/javascript">
    //executa depois que a pagina carregar
    window.onload = function() {

        $('[data-toggle="tooltip"]').tooltip();

        let table = document.getElementsByTagName('table')[0];

        if (table != undefined) {
            resizableGrid(table);
        }

        //checkbox autor via jquery
        $("#autor").change( function() {

            if ($(this).is(":checked")) {
                $("#searchbox").attr("placeholder", "Filtrar por autor...");
            }
            else {
                $("#searchbox").attr("placeholder", "Filtrar por título...");
            }

        });

    };
</script>
