@if(!flash.isEmpty) {
    @for(key <- flash.keySet) {
        <script type="text/javascript">
            window.onload = function() {
                if ("@key" === "success") {
                    toastr.success("@flash.get(key)");
                }
                if ("@key" === "warning") {
                    toastr.warning("@flash.get(key)");
                }
                if ("@key" === "error") {
                    toastr.error("@flash.get(key)");
                }
                if ("@key" === "info") {
                    toastr.info("@flash.get(key)");
                }
            }
        </script>
    }
}